@import './variables';

.console-application {
  position: absolute;
  height: 100%;
  width: 100%;

  .view-container {
    position: absolute;
    top: $header-bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $standard-padding;

    &.narrow-pad {
      padding: $standard-padding 10px;
    }

    .app-view {
      position: relative;
    }
  }

  .control-separator {
    width: 100%;
    height: 22px;
    border-top: 2px solid #6d8ea9;
  }
}
